* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    max-width: 120rem;
    margin: 0 auto;
    padding: 8rem;
    color: #1F3F3D;
    scroll-behavior: smooth;
}

body {
    font-size: 1.6rem;
    overflow-x: hidden;
    background-image: linear-gradient(#D0D4D7, #06F3482B);
    background-position: center center;
    background-size: cover;
    min-height: 100vh;
}
h1{ 
    font-size: 3.6rem;
    
}
p{
    font-size: 2rem;
}
.min-height {
    max-height: 120rem;
}

ul li img {
    width: 5rem;
    height: 5rem;
}

li,
a {
    text-decoration: none;
    list-style: none;
    cursor: pointer;
    color: #1F3F3D;
}

.barra-menu {
    display: flex;
    margin-top: -4.5rem;
    justify-content: center;
}

nav ul {
    display: flex;
    align-items: center;
}

nav ul li {
    display: flex;
    margin-left: 6rem;
    margin-right: 6rem;
}

button {
    background-color: #FEDB5D;
    border-radius: 4rem;
    width: 15rem;
    height: 4rem;
    border: 0;
    color: #1F3F3D;
    margin-bottom: 25rem;
    cursor: pointer;
}
button:hover{
    background-color: #fedb5d91;
    border: 0.1rem solid rgba(185, 185, 185, 0.479);
}

.icinio{
    display: grid;
    grid-template-columns: 1fr;
    flex-flow: column wrap;
}

.inicio img {
    max-width: 100%;
    max-height: 100%;
    width: 50rem;
    position: absolute;
    margin-left: 50rem;
    margin-top: -40rem
}

.cat {
    z-index: 1;
    height: 60rem;
}
.inicio p{
    max-width: 45rem;
}
.inicio h1{
    margin-top: 25rem;
}
nav{
    position: fixed;
    z-index: 2;
}
.img-ong img{
    height: 20rem;
    width: 35rem;
    background-color: #fedb5d73;
    margin-left: 3rem;   
}
.img-ong{
    display: flex;
    justify-content: center;

}
.sobre{
    margin-top: 10rem;

}
.margin-top{
    margin-top: 15rem;
    height: 10rem;
    width: auto;
}
.sobre h1{
    margin-bottom: 5rem;
    margin-top: 4rem;
}
.sobre .img-ong{
    margin-bottom: 8rem;
}
.background-transp {
    background-color:rgba(128, 128, 128, 0.363);
    height: 75rem;
    width: 105rem;
    padding: 10rem;
    border-radius: 4rem;

}

.card{
    background-color: rgba(240, 248, 255, 0.219);
    height: 45rem;
    width: 30rem;
    margin: 5rem;
    padding-top: 4rem;
    padding-left: 7rem;
    border-radius: 3rem;
    

}
.card-circle {
    height: 15rem;
    width: 15rem;
    background-color:#1f3f3d52;
    border-radius: 50%;
    margin-bottom: 2rem;
    margin-left: 0.5rem;
    


}
.card p{
    font-size: 1.5rem;
     max-width: 30rem;
     text-align: center;
     margin-left: -7rem;
    }
    .card h2{
        margin-left:  -7.5rem;
        margin-bottom: 2rem;
        text-align: center;
        
    }
    


 .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    flex-flow: column wrap;

}
.main-title::after{
    content: " ";
    display: block;
    height: 4px;
    width: 70px;
    background-color: #FEDB5D;
}
